body {
	text-align: center;
}

.bg-primary {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
	text-align: left;
}

#icon {
	text-align: right;
}

img {
	width: 200px;
}

#line {
	height: 7px;
	width: 250px;
	color: black;
}

#div {
	margin-left: 550px;
}

#built,
#write {
	margin-right: 250px;
}

hr {
	height: 5px;
}

body {
	background: linear-gradient(#6beb34 1%, #00b7ff 100%);
	text-align: center;
}

marquee {
	background-color: firebrick;
}

#ul {
	position: relative;
	top: 0;
	z-index: 99999;
}
